@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
/* glover css start */
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Open Sans', sans-serif;
}
a, a :hover{
    text-decoration: none;
}
p{
    color:#999999;
}
/* glover css end */


/* header css code start */
.header-section .navbar{
    background: #000 !important;
}
.header-section .nav-link{
    color: #cccccc !important;
    margin-left: 20px;
}
.header-section {}
.header-section .navbar a img{
    width: 90px;
}
/* header css code end */


/* banner css code Start */
.banner-section{
    width: 100%;
    height: 92vh;
    background: url(../img/banner-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-section .content{
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
}
.banner-section .content h1{
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
}
.banner-section .content h1 span{
    color: #ff8b38;
    font-weight: 300;
}
.banner-section .content h2{
    color: #fff;
    font-size: 36px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    padding-right: 200px;
}
.banner-section .content .line{
    width: 76px ;
    height: 2px ;
    margin: 40px 0px;
    background: #fff ;
}
.banner-section .content p{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    padding-right: 200px;
}
.banner-section .content .btn{
    background: transparent;
    border-radius: 0px;
    border: 2px solid #fff;
    padding: 12px 46px;
    margin-top: 46px;
}
.banner-section .content .btn:hover{
    background: #ff8b38;
    border: 2px solid #ff8b38;
}
.banner-section .main-form{
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
}
.banner-section .main-form .card{
    margin-left: 166px;
    border: none;
}
.banner-section .main-form .card .card-header{}
.banner-section .main-form .card .card-header h3{
    color: #000;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
    padding-top: 6px;
}
.banner-section .main-form .card .card-header h3 span{
    color: #ff8b38;
}
.banner-section .main-form .card .card-body{
    margin-top: 0px;
    padding-top: 0px;
}
.banner-section .main-form .card .form-group{
    margin-top: 35px;
    margin-bottom: 35px;
}
.banner-section .main-form .card .form-control{
    border: none;
    border-bottom: 1px solid #cccccc;
    border-radius: 0px;
    padding: 0px 20px;
    outline: 0px;
    color: #cccccc;
    padding-bottom: 10px;
}
.banner-section .main-form .card .form-control:hover{
   

}
.banner-section .main-form .card .card-footer{
    background: #ff8b38;
}
.banner-section .main-form .card .card-footer input{
    background: transparent;
    border: none;
    color: #fff;
}
/* banner css code end */


/* social css code start */
.social-setion{
    width: 100%;
    border-bottom: 1px solid #cccccc;
}
.social-setion .title{
    width: 100%;
}
.social-setion .title h4{
    font-size: 20px;
    font-weight: 700;
    margin: 12px 0px 6px;
}
.social-setion .title p{
    font-size: 14px;
    font-weight: 400;
}
.social-setion .icon-box{
    width: 100%;
}
.social-setion .icon-box ul{
    margin: 0px;
    padding: 0px;
}
.social-setion .icon-box li{
    list-style: none;
    display: inline;
    margin-left: 10px
}
.social-setion .icon-box a{
    margin-left: 60px;
    color: #cccccc;
}
.social-setion .icon-box a:hover{
    color: #ff8b38;
}
.social-setion .icon-box a i{
    font-size: 50px;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
}
/* social css code end */


/* feature css code start */
.feauter-section{
    background: #f5f5f5;
    width: 100%;
   
}
.feauter-section .feature-inner{
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
}
.feauter-section .nav{
    padding-right: 60px;
}
.feauter-section .nav button{
    width: 110px;
    height: 110px;
    background: #333333;
    color: #fff;
    margin-bottom: 2px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link { 
    background: #ff8b38;
}
.feauter-section .feature-inner .tab-pane h3{
    font-weight: 700;
}
.feauter-section .feature-inner .tab-pane .top{
    margin-top: 50px;
    font-size: 14px;
    margin: 52px 0px 0px;
}
.feauter-section .feature-inner .tab-pane .bttom{
    margin-top: 20px;
    font-size: 14px;
    margin: 22px 0px 0px;
}
.feauter-section .feature-inner .tab-pane a{
    margin: 50px 0px 0px;
    padding: 12px 50px;
    background: #ff8b38;
    border: none;
}
.feauter-section .feature-inner .right{
    height: 340px;
    display: table-cell;
    vertical-align: middle;
}  
.feauter-section .feature-inner .right img{
    margin-left: 110px;
}  
/* feature css code end */


/*  sub list css code start */
.sub-list-section{
    width: 100%;
    padding-top: 110px;
    padding-bottom: 120px;
}
.sub-list-section .right{
    width: 470px;
    margin: auto;
}
.sub-list-section .right .title {
    width: 470px;
    margin: auto;
}
.sub-list-section .right .title h4{
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.sub-list-section .right .title .line{
    width: 66px;
    height: 2px;
    background: #ff8b38;
    margin: 30px 0px;
}
.sub-list-section .right .title p{
    font-size: 14px;
}
.sub-list-section .right .bottom .icon{
    width: 64px;
    margin-bottom: -15px;
}
.sub-list-section .right .bottom .icon .icon-inner{
    width: 100%;
    float: left;
    margin-right: 20px;
}
.sub-list-section .right .bottom .icon .icon-inner i{
    font-size: 26px;
    border: 2px solid #ff8b38;
    background: transparent;
    color: #ff8b38;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    line-height: 56px;

}
.sub-list-section .right .bottom .title{
    margin-top: 46px;
}
.sub-list-section .right .bottom .title h5{
    font-size: 14px;
    font-weight: 700;
}
.sub-list-section .right .bottom .title p{
    font-size: 14px;
}
/*  sub list css code end */


/*  standard list css code start */
.standard-section {
    width: 100%;
    background: #f5f5f5;
    padding-top: 120px;
    padding-bottom: 70px;
}
.standard-section .left{
    width: 490px;
}
.standard-section .left .title{}
.standard-section .left .title h4{
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.standard-section .left .title .line{
    width: 66px;
    height: 2px;
    background: #ff8b38;
    margin: 30px 0px;
}
.standard-section .left .title p{
    margin-top: 30px;
    font-size: 14px;
}

/*  standard list css code end */


/*  Awesome css code start */
.awesome-section{
    width: 100%;
    padding: 100px 0px;
    text-align: center;
}
.awesome-section .title{
    text-align: center;
}
.awesome-section .title h4{
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
}
.awesome-section .title .line{
    width: 66px;
    height: 2px;
    background: #ff8b38;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.awesome-section .title p{
    font-size: 14px;
}
.awesome-section .icon-box{
    width: 100%;
    display: flex;
}
.awesome-section .icon-box .icon-box-inner{
    display: flex;
}
.awesome-section .icon-box .icon-box-inner .icon{}
.awesome-section .icon-box .icon-box-inner .icon i{
    font-size: 26px;
    border: 2px solid #ff8b38;
    background: transparent;
    color: #ff8b38;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    line-height: 56px;
    margin: 80px 0px 20px;
}
.awesome-section .icon-box .icon-box-inner .list{}
.awesome-section .icon-box .icon-box-inner .list h4{
    margin-top: 15px;
    padding: 0px 30px;
    
    font-size: 20px;
    font-weight: 700;

}
.awesome-section .icon-box .icon-box-inner .list p{
    padding: 21px 30px 40px;
    font-size: 14px;
}
/*  Awesome css code end */

.Pricing-section{
    width: 100%;
    padding: 100px 0px;
    text-align: center;
    background: #f5f5f5;
}
.Pricing-section .title{
    text-align: center;
    padding-bottom: 86px;
}
.Pricing-section .title h4{
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
}
.Pricing-section .title .line{
    width: 66px;
    height: 2px;
    background: #ff8b38;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.Pricing-section .title p{
    font-size: 14px;
}
.Pricing-section .price-table{ 
    text-align: center;
}
.Pricing-section .price-table .p-header{
    background: #333333;
    border-bottom: 1px solid #f5f5f5;
    margin: 0px;
    padding: 20px;
}
.Pricing-section .price-table .p-header h4{
    font-size: 20px;
    color: #fff;
}
.Pricing-section .price-table .p-body{
    background: #333333;
    padding: 22px;
    border-bottom: 6px solid #ff8b38;
}
.Pricing-section .price-table .p-body h2{
    color: #fff;
    font-size: 94px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.Pricing-section .price-table .p-body h2 span{
    color: #fff;
    font-size: 34px;

}
.Pricing-section .price-table .p-body p{
    padding-bottom: 10px;
    color: #999999;
    font-size: 14px;
    font-style: italic;
    text-transform: capitalize;
    font-weight: 500;
}
.Pricing-section .price-table .p-footer{
    background: #fff;
}
.Pricing-section .price-table .p-footer ul{
    margin: 0px;
    padding: 0px;
}
.Pricing-section .price-table .p-footer li{
    list-style: none;
    padding: 12px;
    border-bottom: 2px solid #f5f5f5;
    color: #c3c3c5;
    font-size: 14px;
    text-transform: uppercase;
}
.Pricing-section .price-table .p-footer li .none{
    border-bottom: 0px !important;
}

.Pricing-section .price-table .a{
    padding: 22px;
    border-bottom: none;
}
.Pricing-section .price-table .orange{
    background: #ff8b38;
    margin: 0px;
    padding: 10px;
    color: #fff;
    font-size: 14px;
}
/* pricing css end */  


/* customer css start */  
.customer-section{
    width: 100%;
    padding: 100px 0px;
 
    background: #fff;
}
.customer-section .title{
    text-align: center;
    padding-bottom: 86px;
    text-align: center;
}
.customer-section .title h4{
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
}
.customer-section .title .line{
    width: 66px;
    height: 2px;
    background: #ff8b38;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.customer-section .title p{
    font-size: 14px;
}
.customer-section .c-box{}
.customer-section .c-box .content{
    background: #f5f5f5;
    padding: 20px 20px 15px 20px;
    margin-right: 60px;
    margin-bottom: 40px;
    position: relative;
    text-transform: capitalize;
}
.customer-section .c-box .content p{
    padding-right: 70px;
    font-size: 14px;
    font-style: italic;
    color: #999999;
}
.customer-section .c-box .content .arrow{
    position: absolute;
    height: 30px;
    width: 30px;
    background: #f5f5f5;
    transform: rotate(45deg);
    left: 22px;
    bottom: -15px;
}
.customer-section .c-box .info{
    margin-left: 20px;
}
.customer-section .c-box .info h4{
    font-size: 20px;
    font-weight: 700;
}
.customer-section .c-box .info p{
    font-size: 14px;
    color: #999999;
}
/* customer css end */  


/* stylish css start */ 
.stylish-section{
    padding: 100px 0px;
    background: url(../img/stylesh.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.stylish-section .title{
    text-align: center;
    padding-bottom: 86px;
    text-align: center;
    color: #fff;
}
.stylish-section .title h4{
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
}
.stylish-section .title .line{
    width: 66px;
    height: 2px;
    background: #ff8b38;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.stylish-section .title p{
    font-size: 14px;
}
.stylish-section .button{
    text-align: center;
}
.stylish-section .button a{
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    transition: .5s;
}
.stylish-section .button a:hover{
    background: #ff8b38;
    border: 2px solid #ff8b38;
    transition: .5s;
    
}
/* stylish css end */  


/* contact css start */  
.contact-section{
    padding: 100px 0px;

}
.contact-section .title{
    text-align: center;
    padding-bottom: 86px;
    text-align: center;
    color: #000;
}
.contact-section .title h4{
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
}
.contact-section .title .line{
    width: 66px;
    height: 2px;
    background: #ff8b38;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.contact-section .title p{
    font-size: 14px;
}
.contact-section .form{
    margin-right: 70px;
}
.contact-section .form input{
    display: block;
    width: 100%;
    padding: 50px 10px 0px;
    border: none;
    border-bottom: 2px solid #999999;
    font-size: 16px;
}
.contact-section .form input:focus{
    outline: none;
}
.contact-section .form .message{
    display: block;
    width: 100%;
    padding: 46px 10px 132px;
    border: none;
    border-bottom: 2px solid #999999;
    font-size: 16px;
    
}
.contact-section .form .message:focus{
    outline: none;
}
.contact-section .button{
    margin: auto;
    width: 190px;
    padding-top:60px ;
}
.contact-section .button input{
    background: #ff8b38;
    color: #fff;
    border: none;
    padding: 12px 40px;
    border-radius: 5px;
}
/* contact css end */ 


/* contact css end */  
.footer-section{
    width: 100%;
    background: #000;
    margin-top: 200px;
}
.footer-section .icon-box{
    width: 100%;
    text-align: center;
    padding-top: 25px;
}
.footer-section .icon-box ul{
    margin: 0px;
    padding: 0px;
}
.footer-section .icon-box li{
    list-style: none;
    display: inline;
    margin-left: 10px
}
.footer-section .icon-box a{
    margin-left: 25px;
    color: #cccccc;
}
.footer-section .icon-box a:hover{
    color: #ff8b38;
}
.footer-section .icon-box a i{
    font-size: 35px;
  
}
.footer-section p{
    font-size: 12px;
    color: #999999;
    text-align: center;
    padding-top: 20px;
}